.about-holder {
    @include round-edge;
    height:100%;
    background-color: rgba(167, 167, 167, .90);
    padding: 75px 25px 25px 25px;
    margin: 20px 0 60px 0;

    img {
        margin: 0 0 20px 0;
    }

    p {
         font-family: "Gotham-Book"
    }

    p.name {
        text-align: center;
        color: $lightest;
        font-size: 24px;
        font-weight: 400;
    }

    p.caption {
        color: #fff;
        line-height: 20px;
        font-size: 20px;
        
    }

    .small {
        font-size: 18px;
        
    }

    .large {
        font-size:24px;
    }
}





