

.highlight {
    padding-top: 20px;
    min-height: 270px;
    border-radius:4px;


    &:hover {
        background-color: #f9f9f9;
        cursor:pointer;
    }
    p {
        margin-top: 15px;
    }
    &:hover {
        img {
        // -webkit-transform: scale(1.1);
        // -webkit-animation-iteration-count: infinite;
    }
}
}

.clear {
    clear: both;
    margin: 0 auto;
}



.logo-wrapper  {
    height: 25%;
    width:34%;
    vertical-align: middle;
    padding: 20px;
}

.lm-logo-wrapper {
    width: 45%;
    margin-top: -84px;
}
@media(max-width: 1024px) {
.lm-logo-wrapper {
        margin-top:-50px;
    }
}

@media(max-width: 768px) {
    .logo-wrapper  {
        height: 100%;
        width:100%;
        vertical-align: middle;
    }

    .lm-logo-wrapper {
        margin-top:40px;
    }
}




.five-promises {

    .caps {
        text-transform:uppercase;
    }

    h1, h2, h3 {
        font-family: "Gotham-Book";
    }

    img {
        border-radius:5px;
    }

    p {
        color: $light-text;
        font-family: "Gotham-Book";
    }

    .promise-text {
        text-align:left;
        font-size: 15px;
        line-height:22px;
    }

    h2 {
        font-size: 28px;
        text-transform:uppercase;
        color: $light-text;
        margin:20px 0 20px 0;

    }

    h3 {
        text-transform: uppercase;
        font-size: 48px;
        color: $light-text;
    }

    .play-video-5 {
        position: absolute;
        margin-top: -255px;
        margin-left:240px;
        z-index:10;


        &:hover {
            cursor:pointer;
        }
    }
}



//between 1200 and 1224 the .small-promise images enlargen slightly
//unsure why.

@media(max-width : 1824px) {
    .image-wrapper-large {
        img {
            width:70%;
        }
    }
}

@media(max-width: 1224px) {

    .play-video-5 {
        margin-left:240px !important;
    }


    .image-wrapper {
        .small-promise{
            width:100%;
        }
    }
    .image-wrapper-large {
        img {
            width:70%;
        }
    }
}



@media(max-width: 1024px) {

    .play-video-5 {
        display:none;
    }
    .promise-text {
        text-align:center;
        margin-bottom:10px;
    }

    .five-promises {
        padding:40px;
    }
    .image-wrapper {

        .small-promise {
            width:100%;
        }

        p {
            font-size:20px;
        }
    }
    .image-wrapper-large {
        display:none;
        img {

            width:50%;
        }
    }
}

@media(max-width: 768px) {

    .promise-text {

    }

    .five-promises {
        padding:40px;
    }

    .highlight {
        // display:none;
    }

    .image-wrapper {

        .small-promise {
            width:70%;
        }

        p {
            font-size:20px;
        }
    }

    .image-wrapper-large {
        img {
            // height:90%;
            // width:90%;
        }
    }
}




p.dark {
    color:#000 !important;
}