/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "compass/css3";
@import "compass/reset";
@import "variables";
@import "buttons";
@import "about";
@import "five_things";
@import "proof";
@import "training";
@import "animations";

@include font-face('Gotham-Book', font-files("Gotham-Book.otf", opentype));

@include font-face('Gotham-Black', font-files("Gotham-Black.otf", opentype));
@include font-face('Gotham-Bold', font-files("Gotham-Bold.otf", opentype));
@include font-face('Gotham-BoldItalic', font-files("Gotham-BoldItalic.otf", opentype));

@include font-face('Gotham-Light', font-files("Gotham-Light.otf", opentype));

@include font-face('Gotham-LightItalic', font-files("Gotham-LightItalic.otf", opentype));


@include font-face('Gotham-Medium', font-files("Gotham-Medium.otf", opentype));
@include font-face('Gotham-MediumItalic', font-files("Gotham-MediumItalic.otf", opentype));
@include font-face('Gotham-Thin', font-files("Gotham-Thin.otf", opentype));
@include font-face('Gotham-ThinItalic', font-files("Gotham-ThinItalic.otf", opentype));
@include font-face('Gotham-Ultra', font-files("Gotham-Ultra.otf", opentype));
@include font-face('Gotham-UltraItalic', font-files("Gotham-UltraItalic.otf", opentype));
@include font-face('Gotham-UltraXLight', font-files("Gotham-Xlight.otf", opentype));
@include font-face('Gotham-XLightItalic', font-files("Gotham-XLightItalic.otf", opentype));



//global on all pages

//  h1, h2, h3, h4, h5, h6, p {
//     font-family: 'Gotham-Book' !important;

// }

p, a {
    font-family: "Gotham-Book";
}

nav.menu {
    a  {
        font-size: 11px;
    }
}

h1#copyright-r {
    margin:0;
    font-size:15px;
}

.padder {
    padding: 40px 0 60px 0px;
}

.padder-right {
    padding-right: 40px;
}


iframe {
    height:400px;
    width:600px;
}

.logo-header {
    float:left;
    margin-bottom: 20px;
}

.be-better-round {
    margin-left: 20px;
    margin-top: 20px;
}

.play-video {
    margin-top: 15.6%;
    margin-left:75px;

    &:hover {
        cursor:pointer;

    }
}



.image-wrapper {
    width:100%;
    height:100%;
}

.left-align {
    text-align:left;
}

.width-300-px {
    width:300px;
}

a.non-link {
    cursor:default;
    &:hover {
        color:#808080 !important;
    }
}

.button {
    float:left;
}

.vertical-align img{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#copyright {
    position:relative;
    margin-left: 115px;
}



#headerwrap {
    background: url('../img/header-bg.png') no-repeat center top;

    h1#bb {
        margin:0px;
        display:inline;
        font-size:36px;
        font-family:"Gotham-Book";
    }
    h1#copyright-r {
        margin:0px;
        display:inline;
        font-size:36px;
        bottom:0px;
        font-size:13px;
        margin-left: -5px;

    }
}

.proof-images{
    margin-top: 50px;
}

/* TITLE TEXT */

.title-text{
    margin-top: 40px;
    margin-bottom: 40px;
}


.image-wrapper-long img {
    height:80%;
    width:80%;
}

@media(max-width: 1224px) {
    .image-wrapper-long img {
        height:80%;
        width:80%;
    }
}

@media(max-width: 1024px) {
    .image-wrapper-long img {
        height:60%;
        width:60%;
    }

    iframe {
        height:300px;
        width:450px;
    }
}

@media(max-width: 768px) {

    .image-wrapper-long img {
        height:40%;
        width:40%;
    }

    iframe {
        height: 250px;
        width: 350px;
    }
}

.margin-top-60 {
    margin-top: 60px;
}

/* END IMAGE WRAPPER */

/* SIDEBAR STYLING */

.menu-wrap{
}

.bottom-menu{
    position: absolute;
    bottom: 0;
}

.italic {
    font-style: italic;
}

.text-align-center {
    text-align:center;
}

.padder-50 {
    padding-top:30px;
    padding-bottom:30px;
}

.clear {
    clear:both;
    margin: 0 auto;
}


@media(max-width : 1824px) {
}

@media(max-width : 1224px) {
}

@media(max-width : 1024px) {
}

@media(max-width : 768px) {
    .play-video {
        margin-top: 40%;
    }

}



#book-background-image {
    background: url('../img/book_background.png') no-repeat center top;

    h1 {
        color: #d9Aa7e;
        font-size: 100px;
// font-weight:bold;
font-family:'Gotham-Bold';
text-transform: uppercase;
text-align:right;
}


h2 {
    color: #d9Aa7e;
    font-size: 50px;
    font-family:'Gotham-Bold';
    text-transform: uppercase;
    text-align:right;
}

.bottom-push {
    margin-bottom:340px;
}

p {
    text-transform: uppercase;
    color: #fff;
    font-size:20px;
    font-weight:bold;
    text-align:right;

    span {
        color: #d9Aa7e;
    }
}

a#book-link {
    color: #d9Aa7e;
    font-family:'Gotham-Book';
    font-weight: bold;

    &:hover {
        color: #fff;
    }
}


}









