/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_about.scss */
.about-holder {
  border-radius: 8px;
  height: 100%;
  background-color: rgba(167, 167, 167, 0.9);
  padding: 75px 25px 25px 25px;
  margin: 20px 0 60px 0;
}
/* line 8, ../sass/_about.scss */
.about-holder img {
  margin: 0 0 20px 0;
}
/* line 12, ../sass/_about.scss */
.about-holder .constrain-about-image {
  width: 75%;
}
/* line 16, ../sass/_about.scss */
.about-holder p {
  font-family: "Gotham-Book";
}
/* line 20, ../sass/_about.scss */
.about-holder p.name {
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}
/* line 28, ../sass/_about.scss */
.about-holder p.caption {
  color: #fff;
  line-height: 20px;
  font-size: 20px;
}
/* line 35, ../sass/_about.scss */
.about-holder .small {
  font-size: 18px;
}
/* line 40, ../sass/_about.scss */
.about-holder .large {
  font-size: 24px;
}

/* line 3, ../sass/_five_things.scss */
.highlight {
  padding-top: 20px;
  min-height: 270px;
  border-radius: 4px;
}
/* line 9, ../sass/_five_things.scss */
.highlight:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}
/* line 13, ../sass/_five_things.scss */
.highlight p {
  margin-top: 15px;
}

/* line 28, ../sass/_five_things.scss */
.five-promises .caps {
  text-transform: uppercase;
}
/* line 32, ../sass/_five_things.scss */
.five-promises h1, .five-promises h2, .five-promises h3 {
  font-family: "Gotham-Book";
}
/* line 36, ../sass/_five_things.scss */
.five-promises img {
  border-radius: 5px;
}
/* line 40, ../sass/_five_things.scss */
.five-promises p {
  color: #808080;
  font-family: "Gotham-Book";
}
/* line 45, ../sass/_five_things.scss */
.five-promises .promise-text {
  text-align: left;
  font-size: 15px;
  line-height: 22px;
}
/* line 51, ../sass/_five_things.scss */
.five-promises h2 {
  font-size: 28px;
  text-transform: uppercase;
  color: #808080;
  margin: 20px 0 20px 0;
}
/* line 59, ../sass/_five_things.scss */
.five-promises h3 {
  text-transform: uppercase;
  font-size: 48px;
  color: #808080;
}
/* line 65, ../sass/_five_things.scss */
.five-promises .play-video-5 {
  position: absolute;
  margin-top: -255px;
  margin-left: 240px;
  z-index: 10;
}
/* line 72, ../sass/_five_things.scss */
.five-promises .play-video-5:hover {
  cursor: pointer;
}

@media (max-width: 1824px) {
  /* line 85, ../sass/_five_things.scss */
  .image-wrapper-large img {
    width: 70%;
  }
}
@media (max-width: 1224px) {
  /* line 93, ../sass/_five_things.scss */
  .play-video-5 {
    margin-left: 240px !important;
  }

  /* line 99, ../sass/_five_things.scss */
  .image-wrapper .small-promise {
    width: 100%;
  }

  /* line 104, ../sass/_five_things.scss */
  .image-wrapper-large img {
    width: 70%;
  }
}
@media (max-width: 1024px) {
  /* line 114, ../sass/_five_things.scss */
  .play-video-5 {
    display: none;
  }

  /* line 117, ../sass/_five_things.scss */
  .promise-text {
    text-align: center;
    margin-bottom: 10px;
  }

  /* line 122, ../sass/_five_things.scss */
  .five-promises {
    padding: 40px;
  }

  /* line 127, ../sass/_five_things.scss */
  .image-wrapper .small-promise {
    width: 100%;
  }
  /* line 131, ../sass/_five_things.scss */
  .image-wrapper p {
    font-size: 20px;
  }

  /* line 135, ../sass/_five_things.scss */
  .image-wrapper-large {
    display: none;
  }
  /* line 137, ../sass/_five_things.scss */
  .image-wrapper-large img {
    width: 50%;
  }
}
@media (max-width: 768px) {
  /* line 150, ../sass/_five_things.scss */
  .five-promises {
    padding: 40px;
  }

  /* line 160, ../sass/_five_things.scss */
  .image-wrapper .small-promise {
    width: 70%;
  }
  /* line 164, ../sass/_five_things.scss */
  .image-wrapper p {
    font-size: 20px;
  }
}
/* line 180, ../sass/_five_things.scss */
p.dark {
  color: #000 !important;
}

@-webkit-keyframes fadeRight {
  /* line 105, ../../app/assets/stylesheets/_variables.css.scss */
  0% {
    opacity: 0;
    left: -240px;
  }
  /* line 109, ../../app/assets/stylesheets/_variables.css.scss */
  35% {
    opacity: 0;
    left: -240px;
  }
  /* line 113, ../../app/assets/stylesheets/_variables.css.scss */
  100% {
    opacity: 1;
    left: 0px;
  }
}
/* line 27, ../sass/_proof.scss */
.fadeRight {
  opacity: 1;
  position: relative;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: fadeRight;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 0s;
  -moz-animation-name: none;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 0s;
  -o-animation-name: none;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 0s;
  animation-name: none;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}

@-webkit-keyframes fadeLeft {
  /* line 105, ../../app/assets/stylesheets/_variables.css.scss */
  0% {
    opacity: 0;
    right: -240px;
  }
  /* line 109, ../../app/assets/stylesheets/_variables.css.scss */
  35% {
    opacity: 0;
    right: -240px;
  }
  /* line 113, ../../app/assets/stylesheets/_variables.css.scss */
  100% {
    opacity: 1;
    right: 0px;
  }
}
/* line 78, ../sass/_proof.scss */
.fadeLeft {
  opacity: 1;
  position: relative;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: fadeLeft;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 0s;
  -moz-animation-name: none;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 0s;
  -o-animation-name: none;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 0s;
  animation-name: none;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}

/* line 107, ../sass/_proof.scss */
.shrink-logo {
  width: 70%;
}

@media (max-width: 1024px) {
  /* line 122, ../sass/_proof.scss */
  .shrink-logo {
    width: 40%;
  }

  /* line 126, ../sass/_proof.scss */
  .shrink-logo-2 {
    width: 60%;
  }
}
@media (max-width: 1024px) {
  /* line 17, ../sass/_training.scss */
  .training img {
    width: 60% !important;
  }
}

@-webkit-keyframes fadeRight {
  /* line 105, ../../app/assets/stylesheets/_variables.css.scss */
  0% {
    opacity: 0;
    left: -240px;
  }
  /* line 109, ../../app/assets/stylesheets/_variables.css.scss */
  35% {
    opacity: 0;
    left: -240px;
  }
  /* line 113, ../../app/assets/stylesheets/_variables.css.scss */
  100% {
    opacity: 1;
    left: 0px;
  }
}
/* line 27, ../sass/_animations.scss */
.fadeRight {
  opacity: 1;
  position: relative;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: fadeRight;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 0s;
  -moz-animation-name: none;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 0s;
  -o-animation-name: none;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 0s;
  animation-name: none;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}

@-webkit-keyframes fadeLeft {
  /* line 105, ../../app/assets/stylesheets/_variables.css.scss */
  0% {
    opacity: 0;
    right: -240px;
  }
  /* line 109, ../../app/assets/stylesheets/_variables.css.scss */
  35% {
    opacity: 0;
    right: -240px;
  }
  /* line 113, ../../app/assets/stylesheets/_variables.css.scss */
  100% {
    opacity: 1;
    right: 0px;
  }
}
/* line 78, ../sass/_animations.scss */
.fadeLeft {
  opacity: 1;
  position: relative;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: fadeLeft;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 0s;
  -moz-animation-name: none;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 0s;
  -o-animation-name: none;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 0s;
  animation-name: none;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}

@font-face {
  font-family: "Gotham-Book";
  src: url('/assets/fonts/Gotham-Book.otf?1431717940') format('opentype');
}
@font-face {
  font-family: "Gotham-Black";
  src: url('/assets/fonts/Gotham-Black.otf?1431717940') format('opentype');
}
@font-face {
  font-family: "Gotham-Bold";
  src: url('/assets/fonts/Gotham-Bold.otf?1431717940') format('opentype');
}
@font-face {
  font-family: "Gotham-BoldItalic";
  src: url('/assets/fonts/Gotham-BoldItalic.otf?1431717940') format('opentype');
}
@font-face {
  font-family: "Gotham-Light";
  src: url('/assets/fonts/Gotham-Light.otf?1431717940') format('opentype');
}
@font-face {
  font-family: "Gotham-LightItalic";
  src: url('/assets/fonts/Gotham-LightItalic.otf?1431717940') format('opentype');
}
@font-face {
  font-family: "Gotham-Medium";
  src: url('/assets/fonts/Gotham-Medium.otf?1431717940') format('opentype');
}
@font-face {
  font-family: "Gotham-MediumItalic";
  src: url('/assets/fonts/Gotham-MediumItalic.otf?1431717940') format('opentype');
}
@font-face {
  font-family: "Gotham-Thin";
  src: url('/assets/fonts/Gotham-Thin.otf?1431717940') format('opentype');
}
@font-face {
  font-family: "Gotham-ThinItalic";
  src: url('/assets/fonts/Gotham-ThinItalic.otf?1431717940') format('opentype');
}
@font-face {
  font-family: "Gotham-Ultra";
  src: url('/assets/fonts/Gotham-Ultra.otf?1431717940') format('opentype');
}
@font-face {
  font-family: "Gotham-UltraItalic";
  src: url('/assets/fonts/Gotham-UltraItalic.otf?1431717940') format('opentype');
}
@font-face {
  font-family: "Gotham-UltraXLight";
  src: url('/assets/fonts/Gotham-Xlight.otf?1431717940') format('opentype');
}
@font-face {
  font-family: "Gotham-XLightItalic";
  src: url('/assets/fonts/Gotham-XLightItalic.otf?1431717940') format('opentype');
}
/* line 47, ../sass/screen.scss */
p, a {
  font-family: "Gotham-Book";
}

/* line 51, ../sass/screen.scss */
.right {
  float: right;
}

/* line 55, ../sass/screen.scss */
.margin-bottom-0 {
  margin-bottom: 0;
}

/* line 62, ../sass/screen.scss */
.menu-open .menu-name {
  position: absolute;
  top: 40px !important;
  right: 277px;
  color: #fff !important;
}
/* line 70, ../sass/screen.scss */
.menu-open p.dark {
  color: #000 !important;
}

/* line 75, ../sass/screen.scss */
.menu-name {
  position: absolute;
  top: 40px;
  right: 255px;
  color: #fff !important;
}

/* line 96, ../sass/screen.scss */
nav.menu a {
  font-size: 11px;
}

/* line 101, ../sass/screen.scss */
h1.logo {
  /*for the small copy right sign*/
}
/* line 103, ../sass/screen.scss */
h1.logo span {
  font-size: 10px;
  margin-left: 5px;
}

/* line 108, ../sass/screen.scss */
h1#copyright-r {
  margin: 0;
  font-size: 15px;
}

/* line 113, ../sass/screen.scss */
.video-padder {
  margin-top: 10%;
}

/* line 117, ../sass/screen.scss */
.padder {
  padding: 40px 0 60px 0px;
}

/* line 121, ../sass/screen.scss */
.padder-right {
  padding-right: 40px;
}

/* line 124, ../sass/screen.scss */
.padder-left {
  padding-left: 20px;
}

/* line 129, ../sass/screen.scss */
.small-iframe {
  position: relative;
  z-index: 20;
}

/* line 134, ../sass/screen.scss */
.logo-header {
  float: left;
  margin-bottom: 20px;
}

/* line 139, ../sass/screen.scss */
.be-better-round {
  margin: 20px 0 0px 0px;
}

/* line 143, ../sass/screen.scss */
.play-video {
  margin-left: 75px;
}
/* line 147, ../sass/screen.scss */
.play-video:hover {
  cursor: pointer;
}

/* line 155, ../sass/screen.scss */
.image-wrapper {
  width: 100%;
  height: 100%;
}

/* line 160, ../sass/screen.scss */
.left-align {
  text-align: left;
}

/* line 164, ../sass/screen.scss */
.width-300-px {
  width: 300px;
}

/* line 168, ../sass/screen.scss */
a.non-link {
  cursor: default;
}
/* line 170, ../sass/screen.scss */
a.non-link:hover {
  color: #808080 !important;
}

/* line 175, ../sass/screen.scss */
.button {
  float: left;
}

/* line 179, ../sass/screen.scss */
.vertical-align img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 187, ../sass/screen.scss */
#copyright {
  position: relative;
  margin-left: 115px;
  margin-top: 24.6%;
}

/* line 195, ../sass/screen.scss */
#headerwrap {
  background: url("../img/header-bg.png") no-repeat center top;
}
/* line 198, ../sass/screen.scss */
#headerwrap h1#bb {
  margin: 0px;
  display: inline;
  font-size: 36px;
  font-family: "Gotham-Book";
}
/* line 204, ../sass/screen.scss */
#headerwrap h1#copyright-r {
  margin: 0px;
  display: inline;
  font-size: 36px;
  bottom: 0px;
  font-size: 13px;
  margin-left: -5px;
}

/* line 215, ../sass/screen.scss */
.proof-images {
  margin-top: 50px;
}

/* TITLE TEXT */
/* line 221, ../sass/screen.scss */
.title-text {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 1024px) {
  /* line 245, ../sass/screen.scss */
  iframe {
    height: 300px;
    width: 450px;
  }
}
@media (max-width: 768px) {
  /* line 253, ../sass/screen.scss */
  .image-wrapper-long img {
    height: 60%;
    width: 60%;
  }

  /* line 258, ../sass/screen.scss */
  .home-logo {
    height: 40%;
    width: 40%;
  }

  /* line 263, ../sass/screen.scss */
  iframe {
    height: 250px;
    width: 350px;
  }

  /* line 268, ../sass/screen.scss */
  .logo-header {
    margin-left: 15px;
  }
}
/* line 273, ../sass/screen.scss */
.margin-top-60 {
  margin-top: 60px;
}

/* line 277, ../sass/screen.scss */
.margin-top-20 {
  margin-top: 20px;
}

/* END IMAGE WRAPPER */
/* SIDEBAR STYLING */
/* line 287, ../sass/screen.scss */
.bottom-menu {
  position: absolute;
  bottom: 0;
}

/* line 292, ../sass/screen.scss */
.italic {
  font-style: italic;
}

/* line 296, ../sass/screen.scss */
.text-align-center {
  text-align: center;
}

/* line 300, ../sass/screen.scss */
.padder-50 {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* line 305, ../sass/screen.scss */
.clear {
  clear: both;
  margin: 0 auto;
}

@media (max-width: 768px) {
  /* line 311, ../sass/screen.scss */
  .play-video {
    margin-top: 40%;
  }
}
/* line 317, ../sass/screen.scss */
#other-background {
  height: 1090px;
  width: 28%;
  background-color: #000;
  float: right;
}
/* line 323, ../sass/screen.scss */
#other-background .see-sample {
  color: #5D96C6;
  margin-right: 85px;
  font-style: italic;
  margin-left: 10%;
  font-size: 16px;
}
/* line 331, ../sass/screen.scss */
#other-background a#book-link {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Gotham-Book';
  font-weight: bold;
  display: block;
  position: relative;
  margin-top: 50%;
  margin-bottom: 20px;
  margin-left: 10%;
  font-size: 28px;
}
/* line 343, ../sass/screen.scss */
#other-background a#book-link:hover {
  color: #d9Aa7e;
}

/* line 350, ../sass/screen.scss */
.container-min {
  height: 1090px;
}

/* line 353, ../sass/screen.scss */
#book-background-image {
  background: url("../img/may_cover.png") no-repeat center top;
  width: 72%;
  float: left;
  height: 1090px;
}
/* line 364, ../sass/screen.scss */
#book-background-image h1 {
  color: #d9Aa7e;
  font-size: 100px;
  font-family: 'Gotham-Bold';
  text-transform: uppercase;
  text-align: right;
}
/* line 372, ../sass/screen.scss */
#book-background-image h1.tm {
  font-size: 20px;
  margin-right: -30px;
}
/* line 379, ../sass/screen.scss */
#book-background-image h2 {
  color: #d9Aa7e;
  font-size: 30px;
  font-family: 'Gotham-Bold';
  text-transform: uppercase;
  text-align: right;
}
/* line 389, ../sass/screen.scss */
#book-background-image p {
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}
/* line 396, ../sass/screen.scss */
#book-background-image p span {
  color: #d9Aa7e;
}
/* line 401, ../sass/screen.scss */
#book-background-image .margin-top-7-percent {
  margin-top: 7%;
}

/* line 407, ../sass/screen.scss */
.headerwrap-desktop {
  -webkit-background-size: 100% !important;
  -moz-background-size: 100% !important;
  -o-background-size: 100% !important;
  background-size: 100% !important;
}

@media (max-width: 1224px) {
  /* line 415, ../sass/screen.scss */
  .headerwrap-desktop {
    -webkit-background-size: 100% !important;
    -moz-background-size: 100% !important;
    -o-background-size: 100% !important;
    background-size: 100% !important;
  }
}
@media (max-width: 768px) {
  /* line 429, ../sass/screen.scss */
  .container-min {
    min-width: 340px !important;
    height: 520px !important;
  }

  /* line 434, ../sass/screen.scss */
  #other-background {
    width: 100%;
    height: 200px;
  }
  /* line 438, ../sass/screen.scss */
  #other-background a#book-link {
    margin-top: 10%;
  }

  /* line 447, ../sass/screen.scss */
  #book-background-image {
    background: url("../img/jaw_background_small.png") no-repeat center top;
    width: 100%;
    height: 400px;
  }
  /* line 455, ../sass/screen.scss */
  #book-background-image h1 {
    font-size: 60px;
  }
  /* line 458, ../sass/screen.scss */
  #book-background-image h2 {
    font-size: 20px;
  }
  /* line 462, ../sass/screen.scss */
  #book-background-image .bottom-push {
    margin-bottom: 20px;
  }
}
/* line 468, ../sass/screen.scss */
#twitter-widget-0 {
  margin-left: 20px;
  margin-top: 10px;
}
