/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_about.scss */
.about-holder {
  border-radius: 8px;
  height: 100%;
  background-color: rgba(167, 167, 167, 0.9);
  padding: 75px 25px 25px 25px;
  margin: 20px 0 60px 0;
}
/* line 8, ../sass/_about.scss */
.about-holder img {
  margin: 0 0 20px 0;
}
/* line 12, ../sass/_about.scss */
.about-holder p.name {
  font-family: 'Lato', 'sans-serif';
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 400;
}
/* line 20, ../sass/_about.scss */
.about-holder p.caption {
  font-family: 'Lato', 'sans-serif';
  color: #fff;
  line-height: 20px;
}
/* line 27, ../sass/_about.scss */
.about-holder .small {
  font-size: 18px;
}
/* line 32, ../sass/_about.scss */
.about-holder .large {
  font-size: 24px;
}

/* line 3, ../sass/_five_things.scss */
.promise-text {
  text-align: left;
}

/* line 7, ../sass/_five_things.scss */
.highlight {
  padding-top: 20px;
  min-height: 270px;
  border-radius: 4px;
}
/* line 13, ../sass/_five_things.scss */
.highlight:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}
/* line 17, ../sass/_five_things.scss */
.highlight p {
  margin-top: 15px;
}

/* line 30, ../sass/_five_things.scss */
.five-promises img {
  border-radius: 5px;
}
/* line 34, ../sass/_five_things.scss */
.five-promises p {
  color: gray;
  font-family: "Gotham-Book";
}
/* line 39, ../sass/_five_things.scss */
.five-promises h2 {
  font-size: 28px;
  text-transform: uppercase;
  color: gray;
  margin: 20px 0 20px 0;
}
/* line 47, ../sass/_five_things.scss */
.five-promises h3 {
  text-transform: uppercase;
  font-size: 48px;
  color: gray;
}

@media (max-width: 1824px) {
  /* line 61, ../sass/_five_things.scss */
  .image-wrapper-large img {
    width: 70%;
  }
}
@media (max-width: 1224px) {
  /* line 69, ../sass/_five_things.scss */
  .image-wrapper .small-promise {
    width: 100%;
  }

  /* line 74, ../sass/_five_things.scss */
  .image-wrapper-large img {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  /* line 81, ../sass/_five_things.scss */
  .promise-text {
    text-align: center;
    margin-bottom: 10px;
  }

  /* line 86, ../sass/_five_things.scss */
  .five-promises {
    padding: 40px;
  }

  /* line 91, ../sass/_five_things.scss */
  .image-wrapper .small-promise {
    width: 100%;
  }
  /* line 95, ../sass/_five_things.scss */
  .image-wrapper p {
    font-size: 20px;
  }

  /* line 99, ../sass/_five_things.scss */
  .image-wrapper-large {
    display: none;
  }
  /* line 101, ../sass/_five_things.scss */
  .image-wrapper-large img {
    width: 50%;
  }
}
@media (max-width: 768px) {
  /* line 114, ../sass/_five_things.scss */
  .five-promises {
    padding: 40px;
  }

  /* line 124, ../sass/_five_things.scss */
  .image-wrapper .small-promise {
    width: 70%;
  }
  /* line 128, ../sass/_five_things.scss */
  .image-wrapper p {
    font-size: 20px;
  }
}
@-webkit-keyframes fadeRight {
  /* line 105, ../../app/assets/stylesheets/_variables.css.scss */
  /* line 8, ../sass/_proof.scss */
  0% {
    opacity: 0;
    left: -240px;
  }

  /* line 109, ../../app/assets/stylesheets/_variables.css.scss */
  /* line 14, ../sass/_proof.scss */
  35% {
    opacity: 0;
    left: -240px;
  }

  /* line 113, ../../app/assets/stylesheets/_variables.css.scss */
  /* line 20, ../sass/_proof.scss */
  100% {
    opacity: 1;
    left: 0px;
  }
}

/* line 27, ../sass/_proof.scss */
.fadeRight {
  opacity: 1;
  position: relative;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: fadeRight;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 0s;
  -moz-animation-name: none;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 0s;
  -o-animation-name: none;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 0s;
  animation-name: none;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}

@-webkit-keyframes fadeLeft {
  /* line 105, ../../app/assets/stylesheets/_variables.css.scss */
  /* line 59, ../sass/_proof.scss */
  0% {
    opacity: 0;
    right: -240px;
  }

  /* line 109, ../../app/assets/stylesheets/_variables.css.scss */
  /* line 65, ../sass/_proof.scss */
  35% {
    opacity: 0;
    right: -240px;
  }

  /* line 113, ../../app/assets/stylesheets/_variables.css.scss */
  /* line 71, ../sass/_proof.scss */
  100% {
    opacity: 1;
    right: 0px;
  }
}

/* line 78, ../sass/_proof.scss */
.fadeLeft {
  opacity: 1;
  position: relative;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: fadeLeft;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 0s;
  -moz-animation-name: none;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 0s;
  -o-animation-name: none;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 0s;
  animation-name: none;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}

/* line 107, ../sass/_proof.scss */
.shrink-logo {
  width: 70%;
}

@media (max-width: 1024px) {
  /* line 122, ../sass/_proof.scss */
  .shrink-logo {
    width: 40%;
  }

  /* line 126, ../sass/_proof.scss */
  .shrink-logo-2 {
    width: 60%;
  }
}
@media (max-width: 1024px) {
  /* line 17, ../sass/_training.scss */
  .training img {
    width: 60% !important;
  }
}

@-webkit-keyframes fadeRight {
  /* line 105, ../../app/assets/stylesheets/_variables.css.scss */
  /* line 8, ../sass/_animations.scss */
  0% {
    opacity: 0;
    left: -240px;
  }

  /* line 109, ../../app/assets/stylesheets/_variables.css.scss */
  /* line 14, ../sass/_animations.scss */
  35% {
    opacity: 0;
    left: -240px;
  }

  /* line 113, ../../app/assets/stylesheets/_variables.css.scss */
  /* line 20, ../sass/_animations.scss */
  100% {
    opacity: 1;
    left: 0px;
  }
}

/* line 27, ../sass/_animations.scss */
.fadeRight {
  opacity: 1;
  position: relative;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: fadeRight;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 0s;
  -moz-animation-name: none;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 0s;
  -o-animation-name: none;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 0s;
  animation-name: none;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}

@-webkit-keyframes fadeLeft {
  /* line 105, ../../app/assets/stylesheets/_variables.css.scss */
  /* line 59, ../sass/_animations.scss */
  0% {
    opacity: 0;
    right: -240px;
  }

  /* line 109, ../../app/assets/stylesheets/_variables.css.scss */
  /* line 65, ../sass/_animations.scss */
  35% {
    opacity: 0;
    right: -240px;
  }

  /* line 113, ../../app/assets/stylesheets/_variables.css.scss */
  /* line 71, ../sass/_animations.scss */
  100% {
    opacity: 1;
    right: 0px;
  }
}

/* line 78, ../sass/_animations.scss */
.fadeLeft {
  opacity: 1;
  position: relative;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: fadeLeft;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 0s;
  -moz-animation-name: none;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 0s;
  -o-animation-name: none;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 0s;
  animation-name: none;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}

/* line 19, ../sass/screen.scss */
.padder {
  padding: 40px 0 60px 0px;
}

/* line 24, ../sass/screen.scss */
iframe {
  height: 400px;
  width: 600px;
}

/* line 31, ../sass/screen.scss */
.logo {
  text-align: left;
  margin-left: 20px;
  margin-top: 15px;
}

/* line 37, ../sass/screen.scss */
.play-video {
  margin-top: 25%;
}
/* line 40, ../sass/screen.scss */
.play-video:hover {
  cursor: pointer;
}

/* line 47, ../sass/screen.scss */
.background-image {
  background: url(../img/header-bg.jpg) no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;
  background-attachment: relative;
  min-height: 900px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 60, ../sass/screen.scss */
.book-background-image {
  background: url(../img/five-things/powerpoint1.png) no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;
  background-attachment: relative;
  min-height: 900px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 73, ../sass/screen.scss */
.coaching {
  background: url("../img/HD5476-001.jpg");
  margin-top: -10px;
  padding-top: 20px;
  background-attachment: relative;
  min-height: 900px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 86, ../sass/screen.scss */
.image-wrapper {
  width: 100%;
  height: 100%;
}

/* line 91, ../sass/screen.scss */
.left-align {
  text-align: left;
}

/* line 95, ../sass/screen.scss */
.width-300-px {
  width: 300px;
}

/* line 99, ../sass/screen.scss */
.dynamic-margin {
  margin-top: 100px;
}

/* line 103, ../sass/screen.scss */
.button {
  float: left;
}

/* line 107, ../sass/screen.scss */
.vertical-align img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 115, ../sass/screen.scss */
#headerwrap {
  background: url(../img/header-bg.png) no-repeat center top;
}

/* line 120, ../sass/screen.scss */
.proof-images {
  margin-top: 50px;
}

/* TITLE TEXT */
/* line 126, ../sass/screen.scss */
.title-text {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 132, ../sass/screen.scss */
.image-wrapper-long img {
  height: 80%;
  width: 80%;
}

@media (max-width: 1224px) {
  /* line 138, ../sass/screen.scss */
  .image-wrapper-long img {
    height: 80%;
    width: 80%;
  }
}
@media (max-width: 1024px) {
  /* line 145, ../sass/screen.scss */
  .image-wrapper-long img {
    height: 60%;
    width: 60%;
  }

  /* line 150, ../sass/screen.scss */
  iframe {
    height: 300px;
    width: 450px;
  }
}
@media (max-width: 768px) {
  /* line 158, ../sass/screen.scss */
  .image-wrapper-long img {
    height: 40%;
    width: 40%;
  }

  /* line 163, ../sass/screen.scss */
  iframe {
    height: 250px;
    width: 350px;
  }
}
/* line 169, ../sass/screen.scss */
.margin-top-60 {
  margin-top: 60px;
}

/* END IMAGE WRAPPER */
/* SIDEBAR STYLING */
/* line 177, ../sass/screen.scss */
.menu-wrap {
  font-family: 'Lato', 'sans-serif';
}

/* line 181, ../sass/screen.scss */
.bottom-menu {
  position: absolute;
  bottom: 0;
}

/* line 186, ../sass/screen.scss */
.italic {
  font-style: italic;
}

/* line 190, ../sass/screen.scss */
.text-align-center {
  text-align: center;
}

/* line 194, ../sass/screen.scss */
.padder-50 {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  /* line 213, ../sass/screen.scss */
  .play-video {
    margin-top: 40%;
  }
}
