/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_about.scss */
.about-holder {
  border-radius: 8px;
  height: 100%;
  background-color: rgba(167, 167, 167, 0.9);
  padding: 75px 25px 25px 25px;
  margin: 20px 0 60px 0;
}
/* line 8, ../sass/_about.scss */
.about-holder img {
  margin: 0 0 20px 0;
}
/* line 12, ../sass/_about.scss */
.about-holder p.name {
  font-family: 'Lato', 'sans-serif';
  text-align: center;
  color: gray;
  font-size: 24px;
  font-weight: 400;
}
/* line 19, ../sass/_about.scss */
.about-holder p.bio {
  font-family: 'Lato', 'sans-serif';
  text-align: left;
  color: #fff;
  line-height: 20px;
}

/* line 1, ../sass/_five_things.scss */
.five-things {
  margin-left: 10px;
}

/* line 5, ../sass/_five_things.scss */
.promise-text {
  text-align: left;
}

/* line 9, ../sass/_five_things.scss */
.highlight {
  padding-top: 20px;
  min-height: 270px;
}
/* line 14, ../sass/_five_things.scss */
.highlight:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}
/* line 18, ../sass/_five_things.scss */
.highlight p {
  margin-top: 15px;
}

/* line 32, ../sass/_five_things.scss */
.five-promises p {
  color: gray;
  font-family: "Gotham-Book";
}
/* line 37, ../sass/_five_things.scss */
.five-promises h2 {
  font-size: 28px;
  text-transform: uppercase;
  color: gray;
  margin: 20px 0 20px 0;
}
/* line 45, ../sass/_five_things.scss */
.five-promises h3 {
  text-transform: uppercase;
  font-size: 48px;
  color: gray;
}

/* line 16, ../sass/screen.scss */
.padder {
  padding: 40px 0 60px 0px;
}

/* line 20, ../sass/screen.scss */
.logo {
  text-align: left;
  margin-left: 20px;
  margin-top: 15px;
}

/* line 27, ../sass/screen.scss */
.background-image {
  background: url(../img/header-bg.jpg) no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;
  background-attachment: relative;
  min-height: 900px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 40, ../sass/screen.scss */
.coaching {
  background: url("../img/HD5476-001.jpg");
  margin-top: -10px;
  padding-top: 20px;
  background-attachment: relative;
  min-height: 900px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 53, ../sass/screen.scss */
.image-wrapper {
  width: 100%;
  height: 100%;
}

/* line 58, ../sass/screen.scss */
.vertical-align img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 66, ../sass/screen.scss */
.proof-images {
  margin-top: 50px;
}

/* TITLE TEXT */
/* line 72, ../sass/screen.scss */
.title-text {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* END TITLE TEXT */
/* IMAGE WRAPPER */
/* line 81, ../sass/screen.scss */
.image-wrapper img {
  height: 150px;
  width: 150px;
}

/* line 86, ../sass/screen.scss */
.image-wrapper-large img {
  height: 350px;
  width: 350px;
}

/* line 91, ../sass/screen.scss */
.margin-top-60 {
  margin-top: 60px;
}

/* END IMAGE WRAPPER */
/* SIDEBAR STYLING */
/* line 99, ../sass/screen.scss */
.menu-wrap {
  font-family: 'Lato', 'sans-serif';
}

/* line 103, ../sass/screen.scss */
.bottom-menu {
  position: absolute;
  bottom: 0;
}

/* END SIDEBAR STYLING */
